POSTGRES_DB=joomladb
POSTGRES_USER=joomlauser
POSTGRES_PASSWORD=joomlapassword

GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin

JOOMLA_SITE_NAME=Sitio Institucional UMNG
JOOMLA_ADMIN_USER=Administrador UMNG
JOOMLA_ADMIN_USERNAME=admin
JOOMLA_ADMIN_PASSWORD=AdminUMNG2026!!
JOOMLA_ADMIN_EMAIL=admin@localhost.com